:root {
    --bg-color: white;
    --text-color: #282C35;
    --header-text-color:white;
}

[data-theme="dark"] {
    --bg-color: #282C35;
    --text-color: white;
    --header-text-color:#282C35;
}

body{
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
}

nav{
    color: var(--text-color);
    a{
        color: var(--text-color);
    }
    #register{
        background-color: #52AFA2;
        color: var(--text-color);
        padding: 10px 15px;
        border-radius: 10px;
    }
}

.nav-links{
    display: none;
}

.mobile-menu-links a{
    color: white;
}

#birthdate{
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid gainsboro;
}

@media screen and (min-width:850px) {
    .nav-links{
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

#logo p{
    position: relative;
    top: 8px;
}

.mobile-menu-links #register{
    background-color: var(--bg-color);
    color: var(--text-color);
}